:root{
  --primary-color:rgb(108, 99, 255)
}

@media (max-width: 900px) {
    h1{
        font-size: 76px;
        font-weight: 500;
        margin-bottom: 30px;
        margin-top: s0px;
    }
   
    h2 {
      font-weight: bold;
      font-size: 25px;
      margin-top: 20px;
      }

      a{
        position: relative;
        margin-top: 30px;
        font-weight: 500;
      }

      .logo{
        max-height: 40px;
        position: relative;
        padding-bottom: 3px;
       
      }
    }
  
 body{
  margin-bottom: 60px;
 }
    h1 {
  font-size: 86px;
  font-weight: 500px;
  margin-bottom: 30px;
  margin-top: 70px;
  
}

h2 {
    font-weight: bold;
    font-size: 25px;
    margin-top: 23px;
    }


li a{
    position: relative;
    font-weight: 500;
}

li a:hover{
  color: var(--primary-color);
}

.main{
  text-align: center;
}
.link a{
  color: black;  
}

.link :hover,.active a{
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}

.logos{
  max-height: 60px;
}

.yoga{
  max-height: 40px;
  margin: 20px 40px;
}
