@media (max-width: 900px) {
    body {
      text-align: center;
      
    }

    h1{
        font-size: 76px;
        font-weight: 500;
    }
   
    h2 {
      font-weight: bold;
      font-size: 25px;
      margin-top: 20px;

      }

      a{
        position: relative;
        margin-top: 30px;
        font-weight: 500;
      }
    }
  
  body{
    margin: 100px;
  }  
  

 
 h1 {
  font-size: 86px;
  font-weight: 500px;
  margin-bottom: 30px;
}

h2 {
    font-weight: bold;
    font-size: 25px;
    margin-top: 23px;

    }


a{
    position: relative;
    margin-top: 30px;
    font-weight: 500;
}