:root {
  --primary-color: rgb(108, 99, 255);
  --secondary-color:#F9F7FE;
}

@media (max-width: 900px) {
  body{
    text-align: center;
  }
  .main-container .hero{
    padding: 90px 2px;
  }

 .hero h1,h2,h3,h4{
    margin: 0;
    padding: 0;
    max-height: 1.5;
  }
 .hero  h1 {
    font-weight: bolder;
    font-size: 70px;
    
  }
 .hero h3 {
    font-weight: bolder;
    font-size: 40px;
    margin-top:10px ;
   }
 

  li,a{
    padding-left: 2px;
    font-size: 17px;
    line-height: 1px;
    font-weight: 500;
    padding: 10px 60px;
    
  }
  .container-app-section .btn-section-launch{
  padding: 20px;
  display: block;
  text-align: center;
    
  } 

  .container-app-section .row{
    margin-top: 20px;
          
    }

   .container-app-section .sections p{
    font-weight: lighter;
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;

  }
   .footer-contact .mail-link a{
    position: relative;
    top: 65px;
    font-size: 15px;
   }
    .footer-contact .social-links{
      position: relative;
      top: 40px;
      bottom: 8px;
      
  }
  .footer-contact .social-links a{
    font-size: 15px;
    border-radius: 50%;
   margin-right: 5px;
    padding: 10px;
  }
  .nav li a {
    padding-left: 10px;
    position: relative;
    
    
    color: red;
    font-size: 10px;
    
  }
  
  .nav .logo{
    position: relative;
    right: 45px;
  }
  .sections .section-heading{
    font-size: 45px;
    font-weight: bold;
    color: red; 
    text-align: center; 
  }

}
 

 
 @media(max-width:500px){

  body .hero{
    padding: 50px ;
  }

  li,a{
    font-size: 9px;
    line-height: 2px;
  
  }

.link{
  padding: 209px;
}
 .sections {
    text-align: center;
  }

   section p {
    font-size: 15px;
    line-height: 1.7;
    font-weight: 200;
    
    
    
  }
  .btn-section-launch {
    width: 90%;
    font-size: 25px;
    margin: 35px;
    text-align: center;
  }
 
  .hero h1{
    font-size: 30px;
    font-weight: bolder;
  }

.hero h2{
  font-weight: 400;
  font-size: 18px;
  
}
.hero h3{
  padding: 10px;
  font-size: 25px;
}
}



body {
  background-color: #fff;
  text-align: center;
  
 
}

  
h1,
h2,
h3 ,
h4,p{
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 86px;
  font-weight: 500px;
  margin: 15px;
  
}
h2 {
  color: rgb(154, 156, 158);
  font-weight: 400px;
  font-size: 25px;
  margin: 15px;
}
h3 {
  font-size: 60px;
  font-weight: 300px;
  
}

.btn-contact {
  background-color: var(--primary-color);
  padding: 30px;
  font-size: 20px;
}
.btn-contact:hover {
  color: black;
  background-color: var(--primary-color);
  text-decoration: underline;
}
.btn-about {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 30px;
  font-size: 20px;
}

.btn-about:hover {
  border: 1px solid var(--primary-color);
  text-decoration: underline;
  color: var(--primary-color);
}

.btn-section-launch {
  background-color: var(--primary-color);
  padding: 20px;
  margin-top: 13px;
  font-size: 20px;
}
.btn-section-launch:hover {
  border: 1px solid var(--primary-color);
  text-decoration: underline;
  background-color: var(--primary-color);
}

.contact-box{
  background-color: var(--secondary-color);
  margin:  300px;
  margin-bottom: 100px;
  padding: 20px;
  
}

.contact-box h4{
  font-size: 40px;
  font-weight: bold;
  padding: 35px 40px;
  
}

.contact-box p{
  font-size: 24px;
  color:#6C757D;
  text-align: left;
  position: relative;
  bottom: 27px;
  margin-left: 43px;
  
}
.contact-box .btn-contact-us{
  background-color: var(--secondary-color);
  color:var(--primary-color);
  border: 2px solid var(--primary-color);
  margin: 30px  30px 70px;
  padding: 16px 34px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bold;
} 

.contact-box .btn-contact-us:hover{
  border: 2px solid black;
  color: black;
  text-decoration: underline;
  transition: all 100ms ease-in-out;
 
}


.footer {
  position: relative;
  bottom: 100px;
  
}

.hero{
  background-color:var(--secondary-color) ;
  padding: 150px 2px;
  
}

img{
  max-height: 180%;
  max-width: 250%;
}

.link {
  margin: 60px;
  padding: 15px;
  }

  
  li,a{
  display: inline;
  text-decoration: none;
  padding-left: 10px;
  color: black;  
}

li:hover a {
  transition: all 100ms ease-in-out;
  color: var(--primary-color);
}

li.active a{
  color: var(--primary-color);
}

.logo{
  max-height: 40px;
}

.main-container{
  text-align: center;
  
}
  .mail-link {
  font-size: 30px;
  margin: 50px 50px;
 }

 .mail-link:hover a{
  text-decoration: underline;
  color: var(--primary-color);
 }

.nav{
 padding: 30px  0;
 display: flex;
 justify-content: space-between;
 
}
 .row{
  margin-top: 200px;
}

.sections {
  position: relative;
  top: 30px;
  padding-right: 10px;
  margin-top: 50px;
}
.sections{
  text-align: left;
}
.section-heading {
  font-size: 70px;
 
  

}
.sections p {
  font-size: 25px;
  line-height: 1.7;
  font-weight: normal;
  margin-top: 40px;
  
}

.social-links {
  margin-bottom: 10px 200px 0 0 ;
  }
  
  .social-links a{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 25px;
    border-radius: 50%;
    margin:30px;
    padding: 20px;
  }
  
  .social-links a:hover{
    background-color: var(--primary-color);
    color: white;
  }

