:root {
  --primary-color: rgb(108, 99, 255);
}

@media (max-width: 900px) {
  body {
    text-align: center;
  }
  h1 {
    font-weight: 600;
    font-size: 5px;
  }
  h3 {
    font-weight: normal;
  }
  .sections {
    text-align: center;
  }

  .sections p {
    font-size: 15px;
    line-height: 1.7;
  }
  .btn-section-launch {
    width: 90%;
    font-size: 25px;
    margin: 35px;
    text-align: center;
  }
}

body {
  background-color: #fff;
}

h1,
h2,
h3 {
  margin: 0;
}
h1 {
  font-size: 86px;
  font-weight: 500px;
}
h2 {
  color: rgb(154, 156, 158);
  font-weight: 400px;
  font-size: 25px;
}
h3 {
  font-size: 60px;
  font-weight: 300px;
}

.btn-contact {
  background-color: var(--primary-color);
  padding: 30px;
  font-size: 20px;
}
.btn-contact:hover {
  color: black;
  background-color: var(--primary-color);
  text-decoration: underline;
}
.btn-about {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 30px;
  font-size: 20px;
}

.btn-about:hover {
  border: 1px solid var(--primary-color);
  text-decoration: underline;
  color: var(--primary-color);
}

.btn-section-launch {
  background-color: var(--primary-color);
  padding: 20px;
  margin-top: 13px;
  font-size: 20px;
}
.btn-section-launch:hover {
  border: 1px solid var(--primary-color);
  text-decoration: underline;
  background-color: var(--primary-color);
}


.link {
  margin: 60px;
  padding: 15px;
}

.sections {
  position: relative;
  top: 30px;
  padding-right: 10px;
}
.section-heading {
  font-size: 50px;
}
.sections p {
  font-size: 17px;
  line-height: 1.5;
}
