:root {
    --primary-color: rgb(108, 99, 255);
  }
  
  @media (max-width: 900px) {

    h1{
      font-size: 65px;
      font-weight: 600;
      line-height: 1.2;
      text-align: center;
      
    }

    h2{
        font-size: 20px;
      }
    
    .logo{
      max-height: 40px;
    }

    .resized-app{
      width: 310px;
      
    }

}


 
  h1{
    font-weight: 360px;
    font-size: 60px;
    margin-top:80px ;
    
    
  }

  h2{
    font-weight: 700;
    font-size: 25px;
  }
   
  p{
    color: #6C757D;
    font-weight: 500;
  }
  
  .images img{
    width: 30;
  }


  li a{
    position: relative;
    font-weight: 500;
    
    
}

li a:hover{
  color: var(--primary-color);
}

.link a{
  color: black;  
}
 
.link a{
  color: black;  
}

.link :hover,.active a{
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}
  .logos{
    max-height: 60px;
  }

  .main-container{
    margin: 20px;
  }

  .resized-app{
    width: 310px;
    
  }


  


   



  
   
  
   
  
  
  